<form (ngSubmit)="onSubmit()">
    <div class = "input-group">
        <div class="input-label">
            <label>INITIAL INVESTMENT</label>
            <input name="init_investment" type="number" [(ngModel)] = "initial_inv" />
        </div>    
        <div class="input-label">
            <label>ANNUAL INVESTMENT</label>
            <input name="annual_investment" type="number" [(ngModel)] = "annual_inv"/>
        </div>  
    </div>
    <div class = "input-group">
        <div class="input-label">
            <label>EXPECTED RETURN</label>
            <input name="expected_return" type="number" [(ngModel)] = "expected_ret"/>
        </div>  
        <div class="input-label">
            <label>DURATION</label>
            <input name="duration" type="number" [(ngModel)] = "duration"/>
        </div>  
    </div>
    <button type="submit">CALCULATE</button>
</form>
